html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: inherit;
  background-color: #e2e8f0;
}

.picture-frame {
  width: 650px;
  height: 400px;
  overflow: hidden;
}

.image-slides {
  display: flex;
}

img[src$='svg'] {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease;
}

img[src$='svg']:hover {
  background-color: rgb(183, 183, 183);
}

img[src$='jpg'] {
  width: 0;
  height: 0;
}

img[src$='jpg'].visible {
  width: 650px;
  height: 400px;
}
